<ion-view class="auth-bg">
	<ion-content>    	

		<img src="img/logo-expand-opacity.png" alt="Logo" class="auth-logo">
		
		<div class="logo-title-container">
			<p style="color: #fff;"> Welkom bij <p class="font-lobster" style="color: #fff; font-size: 2em;"> Wikings </p> . </p>
			<p style="color: #fff;"> Meld je aan om je app te starten. </p>
		</div>
		<div class="footer-buttons">
			<div class="padding">
				<button ng-click="openLogin()" class="button button-block button-energized"><strong>LOGIN</strong></button>
				<button ng-click="openSignup()" class="button button-block button-assertive"><strong>REGISTREER</strong></button>
			</div>
		</div>
	</ion-content>
</ion-view>