<ion-view view-title='<span class="nav-title"> Over ons </span> <img src="img/logo-red.png" class="nav-logo">'>

	<ion-content>    

        <ion-refresher
            pulling-text="Pull to refresh..."
            spinner="spiral" 
            on-refresh="doRefresh()">
        </ion-refresher>
        
        <div ui-calendar="uiConfig.calendar" ng-model="eventSources"></div>
        {{eventSource}}
		<div class="loading-box" ng-show="isFetching">
			<ion-spinner icon="spiral"></ion-spinner>
		</div>

	</ion-content>

</ion-view>
