<ion-view view-title='<span class="nav-title"> Kalender </span> <img src="img/logo.png" class="nav-logo">'>

	<ion-content>

        <ion-refresher
            pulling-text="Pull to refresh..."
            spinner="spiral"
            on-refresh="doRefresh()">
        </ion-refresher>

        <div class="list card">
            <div style="padding: 10px;" on-swipe-left="toNext()" on-swipe-right="toPrevious()" ui-calendar="uiConfig.calendar" ng-model="eventSources" calendar="eventCalendar"></div>
        </div>

		<div class="loading-box" ng-show="isFetching">
			<ion-spinner icon="spiral"></ion-spinner>
		</div>

	</ion-content>

</ion-view>
