<ion-view view-title='<span class="nav-title"> Lid worden </span> <img src="img/logo-red.png" class="nav-logo">'>

	<ion-content>    
		<ion-refresher
			pulling-text="Pull to refresh..."
			spinner="spiral" 
			on-refresh="doRefresh()">
		</ion-refresher>


		<!-- slideshow -->
		<ion-slide-box on-slide-changed="slideHasChanged($index)" does-continue="true">
			<ion-slide>
				<img class="full-image" src="img/about-slide-1-sized.jpg">
			</ion-slide>
		</ion-slide-box>

		<!-- card -->
		<div class="list card">	

			<div class="item">
				<h2>Word nu lid!</h2>
			</div>

			<div class="item item-body" ng-if="role=='subscriber'">
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam non orci augue.
					<button class="button button-block button-assertive" ng-click="requestMembership()" ng-hide="membershipRequesting">
						Ja, ik wil lid worden!
					</button>
					<p style="text-align: center;">
						<ion-spinner ng-show="membershipRequesting"></ion-spinner>
					</p>
				</p>
			</div>
			<div class="item item-body" ng-if="role=='nietbetaald'">
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam non orci augue. Mauris lacinia eget dui ac congue. Morbi ac nisl vel turpis ultrices blandit interdum non mi. Suspendisse finibus ultricies imperdiet. Etiam cursus ac eros in euismod. Fusce purus eros, luctus quis justo eu, sagittis hendrerit sapien.
				</p>
					<p>
					&euro; 10 storten op BE00 0000 0000 0000 <br>
					WIKINGS-NSK
					</p>
				</p>
			</div>
			<div class="item item-body" ng-if="role=='lid'">
				<p>
					Je bent lid! Geniet van talloze voordelen zoals:

					<ul>
						<li> Lorem ipsum </li>
						<li> Dolor sit amet </li>
						<li> Consectur </li>
						<li> ... </li>
					</ul>
				</p>
			</div>
			<div class="item item-body" ng-if="role=='administrator'">
				<p>
					Je bent lid van het Wikings praesidium. Je kan aanpassingen aanbrengen aan de website en de app.
				</p>
			</div>
		</div>
	</ion-content>

</ion-view>
