<ion-view view-title='<span class="nav-title"> Weduc </span> <img src="img/logo.png" class="nav-logo">'>

	<ion-content>    

		<!-- card -->
		<div class="list card">
			<div class="item item-body" style="text-align: center;">
				<img src="img/weduc-logo.png" width="100%" />
			</div>
		</div>
		<div class="list card">
			<div class="item">
				<h2>Openingsuren &amp; locatie</h2>
			</div>

			<div class="item item-body">
				<ul>
					<li> dinsdag: 12:30 - 14:00 </li>
					<li> donderdag: 12:30 - 14:00 </li>
				</ul>
				<p>
					
					<a href="#" onclick="window.open('https://www.google.be/maps/place/Koningstraat+8,+2000+Antwerpen/@51.2215447,4.4069997,17z/data=!3m1!4b1!4m5!3m4!1s0x47c3f6f89867f837:0x21e24e1faf33c53!8m2!3d51.2215447!4d4.4091884', '_system', 'location=yes'); return false;">
						Koningstraat 8, 2000 Antwerpen
					</a>
					
				</p>
			</div>
		</div>

		<div class="list card">	
			<div class="item">
				<h2>Check onze site</h2>
			</div>

			<div class="item item-body">
				Check zeker <a href="#" onclick="window.open('http://www.weduc.be', '_system', 'location=yes'); return false;"> weduc.be </a> of 
				 <a href="#" onclick="window.open('http://noteble.com/content/show/department/86-toegepaste-economische-wetenschappen', '_system', 'location=yes'); return false;"> ons forum </a>
			</div>

		</div>

	</ion-content>

</ion-view>
