/* Empty. Add your own CSS if you like */
.fc-time {
  display: none;
}

.bar.bar-energized {
	background-image: none;
	color: #333;
}

.item-body li {
  list-style: circle;
  margin-left: 30px;
}

.button.button-energized:hover {
    color: #cf0013;
    text-decoration: none;
}

.bar-energized.nav-bar {
	background: #cf0013;
	color: #fff;
	border-color: #fff;
}

.item-content i.icon,
.item i.icon {
	color: #cf0013;
}

.bar.bar-energized.nav-bar button.button {
	color: #fff;
}

.bar.bar-energized.nav-bar .title {
	color: #fff;
}

.bar.bar-energized .title {
	color: #fff;
}

.button.button-energized.button-clear {
	color: #cf0013;
}

.button.button-positive {
	background-color: #cf0013;
}

.button.button-energized.activated {
	background-color: rgba(255, 255, 255, 0.5);
}

.button.button-assertive {
	background-color: rgba(207, 0, 19, 0.9);
}

.button.button-assertive.activated {
	background-color: rgba(207, 0, 19, 1);
}
img.auth-logo {
	width: 20%;
	margin-bottom: 20px;
}

.logo-title-container {
	text-align: center;
}

.logo-title {
	font-size: 3em;
	text-transform: uppercase;
}

.title.title-center {
	right: 0 !important;
}

.nav-logo {
	height: 40px;
	margin-top: 2px;
	float: right;
}

.previous-title .nav-logo {
	display: none;
}

.fc-view {
	background-color: #fff;
}

.event-card,
.event-card h5 {
	color: #fff;
	text-align: center;
	text-decoration: none;
}

.event-card div {
	background-color: #cf0013;
}

.small-list {
	padding-left: 25px;
	font-size: 0.7em;
	list-style-type: circle;
}

.small-list li {
	padding-left: 15px;
}
